<launch>

    <arg name="robot_name" default=""/>

    <!-- Odometry to pose node -->
    <node pkg="wolf_navigation_utils" type="odom_to_pose_node" name="odom_to_pose" output="screen">
        <param name="odom_topic"      value="/odometry/robot" />
        <param name="pose_topic"      value="/pose" />
        <param name="tf_prefix"       value="$(arg robot_name)" />
    </node>

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find wolf_planner)/config/perceptive/elevation_mapping.yaml"/>
    </node>

    <include file="$(find convex_plane_decomposition_ros)/launch/convex_plane_decomposition.launch">
        <arg name="parameter_file" value="$(find wolf_planner)/config/perceptive/convex_plane_decomposition.yaml"/>
    </include>

</launch>
