<?xml version="1.0" ?>
<launch>
    <arg name="robot_name"  default=""      doc="robot namespace"/>
    <arg name="robot_model" default="spot"  doc="robot model: [a1, aliengo, spot]"/>
    <arg name="rviz_gui"    default="false" doc="launch planner visualization"/>

    <!-- Use this node to generate the URDFs -->
    <!-- <node pkg="wolf_description_utils" type="create_urdf_model.sh" name="create_urdf_model" output="screen"
    args="-r $(arg robot_name) -d /tmp/wolf_planner"/> -->

    <group if="$(eval robot_name != '')">
         <include file="$(find wolf_planner)/launch/include/launch_planner_ns.launch" ns="$(arg robot_name)">
             <arg name="robot_name"      value="$(arg robot_name)"/>
             <arg name="robot_model"     value="$(arg robot_model)"/>
             <arg name="rviz_gui"        value="$(arg rviz_gui)" />
         </include>
    </group>

    <group if="$(eval robot_name == '')">
         <include file="$(find wolf_planner)/launch/include/launch_planner_ns.launch">
             <arg name="robot_name"      value="$(arg robot_name)"/>
             <arg name="robot_model"     value="$(arg robot_model)"/>
             <arg name="rviz_gui"        value="$(arg rviz_gui)" />
         </include>
    </group>

</launch>
